<a href="https://colab.research.google.com/github/cal3eca/PROJETO-INVIDIDUAL-M-4/blob/main/PROJETO_INVIDIVIDUAL_M%C3%93DULO_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PROJETO INVIDIVIDUAL 1 DO MÓDULO 4
####PROBLEMA DO PROJETO
>
>> Uma determinada loja deseja produzir relatórios
semanais com ganhos e despesas. O gerente da
loja te contratou para gerar um relatório de uma
semana para mostrar ao dono da loja como a
análise dos dados pode ser útil para eles. Para
isso, ele te enviou uma tabela de exemplo das
despesas de uma semana


#### SOLUÇÃO:
>
>> Criar uma tabela/relatório contendo as informações necessárias, fazendo as perguntas e obtendo as respostas equivalentes, utilizando a linguagem Python.

##Nessa seção é criada a tabela
>>
> Onde se utiliza as bibliotecas (PANDAS/NUMPY), para fazer a tabela, que por sua vez são prenchidas e organizadas por meio de (DICIONÁRIOS)

In [ ]:
import pandas as pd
import numpy as np

relatorio = {'Dia': ['Segunda','Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
             'Limpeza': [100, 0, 100, 0, 100, 100, 0],
              'Comida': [221.60, 375.31, 412.00, 495.20, 411.53, 245.00, 164.00],
             'Transporte': [150, 100, 125, 300, 275, 525, 75], 
             'Outros': [0, 0, 2310, 500, 0, 0, 820]}

df1 = pd.DataFrame(relatorio, index = [1,2,3,4,5,6,7])
df1['GANHOS'] = [2200, 2420, 3391, 5322, 4898.50, 4200, 3893]
df1

       Dia  Limpeza  Comida  Transporte  Outros  GANHOS
1  Segunda      100  221.60         150       0  2200.0
2    Terça        0  375.31         100       0  2420.0
3   Quarta      100  412.00         125    2310  3391.0
4   Quinta        0  495.20         300     500  5322.0
5    Sexta      100  411.53         275       0  4898.5
6   Sábado      100  245.00         525       0  4200.0
7  Domingo        0  164.00          75     820  3893.0

##DAQUI PARA BAIXO COMEÇAM AS PERGUNTAS NECESSÁRIAS PARA REALIZAÇÃO DO PROJETO.

>> A soma total dos ganhos;
> Sendo a primeira querendo saber a soma de todos os ganhos apenas: 
> Ou seja, de maneira bruta.
>
> Resultado: 26324.5

In [ ]:
print('A soma total dos ganhos é: ')
df1 ['GANHOS'].sum()

A soma total dos ganhos é:

26324.5

#### A subtração de impostos dos ganhos diários, que nesta semana foi de 7%;
>
> Essa pergunta, se dá também para saber o total de ganhos mas dessa vez subtraídos de impostos de 7%.
>
> Resultado: SEGUNDA(154.000)
>
> TERÇA(169.4000
>
> QUARTA(237.370)
>
> QUINTA(372.540)
>
> SEXTA(342.895)
>
> SÁBADO(294.000)
>
> DOMINGO(272.510)

In [ ]:
df1['Ganhos/impostos'] = df1['GANHOS'] * 0.07 
df1

,Dia,Limpeza,Comida,Transporte,Outros,GANHOS,LUCRO DIÁRIO,Ganhos/impostos
1,Segunda,100,221.60,150,0,2200.0,1728.40,154.000
2,Terça,0,375.31,100,0,2420.0,1944.69,169.400
3,Quarta,100,412.00,125,2310,3391.0,444.00,237.370
4,Quinta,0,495.20,300,500,5322.0,4026.80,372.540
5,Sexta,100,411.53,275,0,4898.5,4111.97,342.895
6,Sábado,100,245.00,525,0,4200.0,3330.00,294.000
7,Domingo,0,164.00,75,820,3893.0,2834.00,272.510

#### A média semanal dos ganhos;
>
> Aqui a pergunta é em relação a Média dos ganhos: 
>
> RESULTADO: 3760.64

In [ ]:
print('A média semanal é: \n', round(df1['GANHOS'].mean(),2))

A média semanal é:
 3760.64

>>
>

#### A soma total das despesas por categoria;
>
>Essa pergunta seria referente as somas das despesas separadamente, ou seja.
>
>Item por item (Limpeza, Comida, Transporte, Outros)

In [ ]:
print('A soma total das despesas de limpeza é: ', df1['Limpeza'].sum()) 
print('A soma total das despesas de Comida é: ',df1['Comida'].sum())
print('A soma total das despesas de Transporte é: ',df1['Transporte'].sum())
print('A soma total das despesas de Outros é: ', df1['Outros'].sum())

A soma total das despesas de limpeza é:  400
A soma total das despesas de Comida é:  2324.64
A soma total das despesas de Transporte é:  1550
A soma total das despesas de Outros é:  3630

#### A média semanal de todas as despesas;
>
> Essa pergunta seria referente a Média das despesas separadamente:

In [ ]:
print('A Média das despesas de limpeza é: ', round(df1['Limpeza'].mean(), 2))
print('A Média das despesas de Comida é: ', round(df1['Comida'].mean(), 2))
print('A Média das despesas de Transporte é: ', round(df1['Transporte'].mean(), 2))
print('A Média das despesas de Outros é: ', round(df1['Outros'].mean(), 2))

A Média das despesas de limpeza é:  57.14
A Média das despesas de Comida é:  332.09
A Média das despesas de Transporte é:  221.43
A Média das despesas de Outros é:  518.57

#### O lucro diário para informar qual dia foi mais lucrativo e o lucro total da semana;

In [ ]:
df1 ['LUCRO DIÁRIO'] = df1 ['GANHOS'] - (df1 ['Limpeza'] + df1 ['Outros'] + df1 ['Comida'] + df1 ['Transporte'])
df1

,Dia,Limpeza,Comida,Transporte,Outros,GANHOS,LUCRO DIÁRIO,Ganhos/impostos
1,Segunda,100,221.60,150,0,2200.0,1728.40,154.000
2,Terça,0,375.31,100,0,2420.0,1944.69,169.400
3,Quarta,100,412.00,125,2310,3391.0,444.00,237.370
4,Quinta,0,495.20,300,500,5322.0,4026.80,372.540
5,Sexta,100,411.53,275,0,4898.5,4111.97,342.895
6,Sábado,100,245.00,525,0,4200.0,3330.00,294.000
7,Domingo,0,164.00,75,820,3893.0,2834.00,272.510